<%= link_to "Add Banking Account", new_user_online_banking_account_path(@user.id) %>
<h1>Connected Online Bank Accounts: </h1>
<table>
  <% if @user.online_banking_accounts %>
  <% @user.online_banking_accounts.each do |oba| %>
    <tr>
      <td><%= link_to oba.bank.name, user_online_banking_account_path(@user,oba)  %></td>
      <td> | Total Balance : <%= oba.total_balance %></td>
      <td> | checking</td>
      <td> | loan</td>
      <td> | <%=link_to %></td>
    </tr>
  <% end %>
  <% end %>
</table>

